.main_div {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.right_div {
    max-width: 100%;
    width: 100%;
    height: 95%;
}

.right_div img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.play_button {
    background-color: yellow;
    padding: 10px 50px 10px 50px;
    text-align: center;
}

.play_button button {
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

canvas {
    background-image: url(../../asset/images/game.png);
    background-repeat: no-repeat;
    object-fit: cover;
    min-width: 100vw;
    min-height: 95vh;
}
